<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gergo.companyx">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HRMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FacilitiesMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmployeeMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserAdd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserDelete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserModifyList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PositionMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BenefitList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeLaptop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeMobile"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeTripList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeTrip"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeCarMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QRRead"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QRCreation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacLaptopList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacMobileList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacCarList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacLaptopEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacLaptopHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacMobileEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacMobileHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacCarEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FacCarHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EmployeeHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LaptopBrandList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LaptopBrandEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LaptopBrandHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LaptopList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LaptopEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LaptopHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LaptopMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MobileBrandList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MobileBrandEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MobileBrandHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MobileList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MobileEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MobileHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MobileMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarBrandEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarBrandList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarEdit"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarBrandHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarHandle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CarMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DepartmentDelete"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DepartmentModify"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DepartmentList"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DepartmentMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PositionDelete"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PositionModify"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PositionList"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>